<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/styles.css">
	<title>E-Phys</title>
</head>
<body>
	<header>
		<div class="wrap-logo">
			<img  class="logo" src="../images/logotype.svg" alt="logo">
			<a href="#" class="logo-text"></a>
		</div>
		<nav>
			<a class="support" href="#">support the author</a>
		</nav>
	</header>
	<nav class="shape-one">
		<img class="shape-one-background" src="../images/shape-one.png" alt="png">
	</nav>
	<div class="finder">
		<input class="input" type="Введите название формулы">
	</div>
	<div class="shapes">
		<div class="shape-two">
			<ul class="values">
			</ul>
		</div>
		<div class="shape-three">
			<ul class="chosen_values">
	
			</ul>
		</div>
		<div class="shape-four">
			<ul class="formulas">
				
			</ul>
		</div>
		<div class="shape-five">
			<ul class="result">
	
			</ul>
		</div>
	</div>
</body>
</html>